.grid-cell-card {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.grid-cell-input {
  margin-bottom: 5px;
}

.grid-cell-checkbox {
  display: block;
  margin-bottom: 5px;
}

.grid-cell-buttons {
  display: flex;
  justify-content: space-around;
}

.grid-cell-save,
.grid-cell-cancel {
  padding: 5px 10px;
  cursor: pointer;
}

.obstacle {
  background-color: red;
}

.path-cell {
  background-color: green !important;
}
